<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="swivel_r" value="0.0475"/>
    <xacro:property name="swivel_l" value="0.015"/>

    <xacro:property name="upper_arm_r" value="0.016"/>
    <xacro:property name="upper_arm_l" value="0.5"/>

    <xacro:property name="gearbox_r" value="0.05"/>
    <xacro:property name="gearbox_l" value="0.025"/>

    <xacro:property name="lower_arm_r" value="0.016"/>
    <xacro:property name="lower_arm_l" value="0.5"/>

    <xacro:property name="wrist_r" value="0.005"/>
    <xacro:property name="wrist_l" value="0.05"/>

    <xacro:property name="finger_l" value="0.005"/>
    <xacro:property name="finger_w" value="0.03"/>
    <xacro:property name="finger_h" value="0.03"/>

</robot>